.thumbnail {
    width: 130px;
    border: 2px solid red;
}

.thumbnail img {
    width: 100%;
    height: 100%
}

.header {
    height: px;
    border: 2px solid yellow;
    overflow: auto;
}

.row h1,
h2,
h3,
h4,
h5,
.thumbnail {
    color: white;
    font-size: 20px;
    margin: 2vh auto;
}

.header .row {
    width: calc(100%/3);
    height: 180px;
    float: left;
}

.box {
    height: 100px;
}

footer {
    clear: both;
}

.s2 {
    overflow: auto;
    color: wheat;
}
