.thumbnail {
    width: 130px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

section {
    border-bottom: 3px solid yellow;
    overflow: auto;
}

.row h1,
h2,
h3,
h4,
h5,
.thum bnail {
    color: white;
    font-size: 20px;
    margin: 2vh auto;
    text-align: center
}

.row p {
    color: white;
    font-size: 16px;
    margin: 1vh auto;
    text-align: left;
}

.box {
    height: 100px;
}

footer {
    clear: both;
}

.s2 {
    overflow: auto;
    color: wheat;
}
