* {
    box-sizing: border-box;
}

.apple {
    position: absolute;
    right: 0;
    top: 150px;
    height: 500px;
    width: 300px;
}

.apple img {
    width: 100%;
}

.iphone {
    position: relative;
    height: 500px;
    width: 300px;
    background-size: 500px;
    border: 1px solid #848484;
    margin: 0px auto;
    --background-color: white;
}

.iphone-back {
    position: relative;
    height: 500px;
    width: 300px;
    background-size: 500px;
    margin: 0 auto;
}

.iphone-back img {
    height: 100%;
}


/* 原版原圖*/

--.iphone {
    position: relative;
    left: 10px;
    background-position: center;
    background-image: url(../png/iPhone-6S-Silver.png);
    display: inline-block;
    height: 500px;
    width: 300px;
    background-size: 500px;
    border: 1px solid #848484;
}

.btn {
    position: absolute;
    top: 437px;
    left: 129px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: snow;
    border: 3px solid gray;
}

.panel {
    position: absolute;
    top: 56px;
    left: 38px;
    width: 223px;
    height: 375px;
    background-color: black;
}

.body {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 240px;
    height: 481px;
    border-radius: 30px;
    background-color: white;
    border: 5px solid gray;
    box-shadow: -1px -1px 1px rgba(36, 35, 35, 0.96);
}

.btn1 {
    position: absolute;
    top: 57px;
    left: 27px;
    width: 4px;
    height: 19px;
    border-radius: 10px 0 0 10px;
    background-color: gray;
    border: 1px solid #6a6a6a;
}

.btn2 {
    position: absolute;
    top: 100px;
    left: 27px;
    width: 4px;
    height: 30px;
    border-radius: 10px 0 0 10px;
    background-color: gray;
    border: 1px solid #6a6a6a;
}

.btn3 {
    position: absolute;
    top: 144px;
    left: 27px;
    width: 4px;
    height: 30px;
    border-radius: 10px 0 0 10px;
    background-color: gray;
    border: 1px solid #6a6a6a;
}

.btn4 {
    position: absolute;
    top: 100px;
    left: 269px;
    width: 4px;
    height: 30px;
    border-radius: 0 10px 10px 0;
    background-color: gray;
    border: 1px solid #6a6a6a;
}

.cam {
    position: absolute;
    top: 21px;
    left: 145px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: gray;
    border: 2px solid #413f3f;
}

.sensor {
    position: absolute;
    top: 34px;
    left: 103px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
    border: 2px solid gray;
}

.handset {
    position: absolute;
    top: 36px;
    left: 133px;
    width: 33px;
    height: 5px;
    border-radius: 10px;
    background-color: #4e4b4b;
    border: 2px solid #848383;
}

.row P {
    font-size: 22px;
    font-family: sans-serif;
    color: yellow;
    width: 180px;
    margin: 0 auto;
    text-align: center;
}

column h1 {
    height: 100px;
    text-align: center;
    color: white;
    line-height: 50px;
}

column h1:hover {
    background-color: darkgrey;
    text-align: center;
    color: red;
}

.row p {}

.p {
    height: 120px;
    width: 100px;
    background-color: red;
}

.p:hover {
    background-color: gainsboro;
    content: abcd;
    font-size: 16px;
    color: red;
}

.btn {
    position: absolute;
    top: 437px;
    left: 129px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: snow;
    border: 3px solid gray;
}

.b-top {
    position: absolute;
    top: 14px;
    left: 28px;
    width: 225px;
    height: 40px;
    border: 6px solid #d1d1d1;
    border-radius: 30px 30px 0px 0;
}

.b-bottom {
    position: absolute;
    bottom: 9px;
    left: 27px;
    width: 228px;
    height: 40px;
    border: 6px solid #b1adad;
    border-radius: 0 0 30px 30px;
}

.b-body {
    position: absolute;
    top: 12px;
    left: 25px;
    width: 232px;
    height: 481px;
    border-radius: 32px;
    background-color: #e5e1e1;
    border: 3px solid #959595;
}

.b-btn1 {
    position: absolute;
    top: 72px;
    left: 257px;
    width: 3px;
    height: 19px;
    border-radius: 0px 10px 10px 0px;
    background-color: gray;
    border: 1px solid #6a6a6a;
}

.b-btn2 {
    position: absolute;
    top: 114px;
    left: 257px;
    width: 3px;
    height: 36px;
    border-radius: 0px 10px 10px 0px;
    background-color: gray;
    border: 1px solid #6a6a6a;
}

.b-btn3 {
    position: absolute;
    top: 157px;
    left: 257px;
    width: 3px;
    height: 36px;
    border-radius: 0px 10px 10px 0px;
    background-color: gray;
    border: 1px solid #6a6a6a;
}

.b-btn4 {
    position: absolute;
    top: 113px;
    left: 24px;
    width: 2px;
    height: 35px;
    border-radius: 10px 0px 0px 10px;
    background-color: gray;
    border: px solid #6a6a6a;
}

.b-cam {
    position: absolute;
    top: 20px;
    left: 56px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: black;
    border: 3px solid #f4f4f4;
}

.b-cam2 {
    position: absolute;
    top: 27px;
    left: 63px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #0f0f69;
    border: 4px solid #404040;
}

.b-cam3 {
    position: absolute;
    top: 35px;
    left: 69px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #3838fc;
}

.b-sensor {
    position: absolute;
    top: 31px;
    left: 88px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
}

.b-flash {
    position: absolute;
    top: 26px;
    left: 96px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #afaeae;
    border: 2px solid #6f6f6f;
}

.log {
    position: absolute;
    top: 350px;
    left: 96px;
    width: 96px;
    height: 20px;
    color: #a39c9c;
    font-size: 20px;
    font-weight: 800px;
    text-align: center;
}


/* apple logo有空再畫
.logo0 {
    position: absolute;
    top: 106px;
    left: 163px;
    width: 20px;
    height: 20px;
    border-radius: 50px 0px 50px 0px;
    background-color: #afaeae;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 136px;
    left: 136px;
    width: 60px;
    height: 50px;
    border-radius: 30;
    background-color: white;
    overflow: hidden;
}

.logo1 {
    position: relative;
    top: -4px;
    left: px;
    width: 60px;
    height: 60px;
    border-radius: 30px 30px 40px 40px;
    background-color: #afaeae;
}

.logo2 {
    position: absolute;
    top: 6px;
    left: 46px;
    width: 30px;
    height: 26px;
    border-radius: 50%;
    background-color: white
}

.logo3 {
    position: absolute;
    top: 126px;
    left: 145px;
    width: 40px;
    height: 10px;
    border-radius: ;
    background-color: white;
    overflow: hidden;
}

.logo4 {
    position: relative;
    top: 4px;
    left: px;
    width: 20px;
    height: 22px;
    border-radius: 30px 30px 10px 10px;
    background-color: #afaeae;
}

.logo6 {
   position: relative;
    top: -19px;
    left:19px;
    width: 22px;
    height: 20px;
    border-radius: 30px 30px 10px 10px;
    background-color: #afaeae;
}

.apple-body-top-left {
    height: 15px;
    width: 65px;
    z-index: 4;
    background-color: white;
    overflow: hidden;
}

.apple-body-top-left-inside {
    border-radius: 50%;
    height: 75px;
    margin-top: 8px;
    margin-left: -17px;
    width: 82px;
    background-color: red;
}

apple logo有空再畫*/
