body {
    background: url(../index.png) no-repeat center center fixed;
    background-size: cover;
}

header .box {
    background-image: url(https://source.unsplash.com/1366x768?night);
    height: 300px;
}

.row .h1 {
    text-align: center;
    color: white;
    font-size: 30px;
}

ul>li {
    width: 180px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
}

ul a:hover {
    background-color: gray;
}

li a {
    font-size: 20px;
    font-family: cursive;
    text-decoration: none;
    color: white;
}

jumbotron {
    background-size: cover;
    height: 200px;
}

jumbotron h1 {
    font-family: Arial;
    text-align: center;
    height: 50px;
    color: white;
    font-size: 30px;
    font-family: cursive;
}

.row p {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
    color: darkblue;
}

footer {
    height: 45px;
    background-color: black;
    opacity:
}

footer>p {
    color: white;
    font-size: 16px;
    font-family: cursive;
    margin: 0 auto;
}

.thumbnail {
    text-align: center;
    margin: 0 auto;
}

.thumbnail img {
    width: 200px;
    height: 200px;
}

.thumbnail p {
    font-size: 20px;
    font-family: cursive;
    color: silver;
}

.gravatar {
    text-align: center;
    margin: 0 auto;
    clear: both;
}

.gravatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

--.box {
    height: 230px;
    width: 280px;
    background-color: lightblue;
    position: absolute;
    top: 290px;
    left: 99px;
    opacity: 0.6;
}

--.box:hover {
    background-color: black;
    color: aliceblue;
}

--.box:after {
    content: 1112222;
    color: white;
}
