.text:after {
    content: "";
    background-color: aqua;
    display: inline-block;
    width: 100px;
    border: 1px solid;
}

.text:before {
    content: "";
    background-color: aqua;
    display: inline-block;
    width: 100px;
    border: 1px solid;
}

.thumbnail {
    position: relative;
    width: 400px;
}

.thumbnail:after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: aqua;
    opacity: 0.5;
    content: "";
    display: block;
    width: 400px;
    height: 300px;
    border: 1px solid black;
}

.thumbnail:hover:after {
    opacity: 0;
}

[href$=".pdf"] {
    padding-left: 48px;
    background-repeat: no-repeat;
    background-image: url(../pdf.peg.jpg) background-size: 46px 34px;
    line-height: 34px;
    text-decoration: none;
}
